body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:977px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:496px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2142 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:69px;
  width:320px;
  height:496px;
}
#u2143 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:240px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:48px;
  background:inherit;
  background-color:rgba(72, 157, 236, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2144 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:70px;
  width:319px;
  height:48px;
  color:#FFFFFF;
}
#u2145 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:315px;
  word-wrap:break-word;
}
#u2146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2146 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:38px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u2148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2148 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:86px;
  width:12px;
  height:15px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  color:#FFFFFF;
}
#u2149 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u2150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2150 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:138px;
  width:114px;
  height:20px;
}
#u2151 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u2152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:2px;
}
#u2152 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:171px;
  width:288px;
  height:1px;
}
#u2153 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#CCCCCC;
}
#u2155 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:127px;
  width:67px;
  height:15px;
  font-size:13px;
  color:#CCCCCC;
}
#u2156 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u2157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#CCCCCC;
}
#u2157 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:148px;
  width:67px;
  height:15px;
  font-size:13px;
  color:#CCCCCC;
}
#u2158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u2159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2159 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:183px;
  width:280px;
  height:20px;
}
#u2160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u2161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2162 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:220px;
  width:80px;
  height:80px;
}
#u2163 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:2px;
}
#u2165 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:259px;
  width:64px;
  height:1px;
}
#u2166 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:65px;
}
#u2167 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:228px;
  width:1px;
  height:64px;
}
#u2168 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:164px;
  height:42px;
}
#u2169 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:524px;
  width:162px;
  height:40px;
  color:#FFFFFF;
}
#u2170 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:158px;
  word-wrap:break-word;
}
#u2171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:160px;
  height:42px;
}
#u2171 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:524px;
  width:158px;
  height:40px;
  color:#FFFFFF;
}
#u2172 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:154px;
  word-wrap:break-word;
}
#u2173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:80px;
}
#u2173 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:220px;
  width:85px;
  height:80px;
}
#u2174 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2175 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:213px;
  width:15px;
  height:15px;
  color:#FFFFFF;
}
#u2176 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u2177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#A1A1A1;
}
#u2177 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:499px;
  width:225px;
  height:13px;
  font-size:11px;
  color:#A1A1A1;
}
#u2178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u2179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2179 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:137px;
  width:60px;
  height:23px;
  font-size:11px;
}
#u2180 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:56px;
  word-wrap:break-word;
}
#u2181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:496px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2181 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:68px;
  width:320px;
  height:496px;
}
#u2182 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:240px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:48px;
  background:inherit;
  background-color:rgba(72, 157, 236, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2183 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:69px;
  width:319px;
  height:48px;
  color:#FFFFFF;
}
#u2184 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:315px;
  word-wrap:break-word;
}
#u2185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2185 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:37px;
  width:111px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u2187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2187 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:85px;
  width:12px;
  height:15px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  color:#FFFFFF;
}
#u2188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u2189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2189 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:137px;
  width:114px;
  height:20px;
}
#u2190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u2191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:2px;
}
#u2191 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:170px;
  width:288px;
  height:1px;
}
#u2192 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#CCCCCC;
}
#u2194 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:126px;
  width:67px;
  height:15px;
  font-size:13px;
  color:#CCCCCC;
}
#u2195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u2196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#CCCCCC;
}
#u2196 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:147px;
  width:67px;
  height:15px;
  font-size:13px;
  color:#CCCCCC;
}
#u2197 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u2198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2198 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:182px;
  width:280px;
  height:20px;
}
#u2199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u2200 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2201 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:219px;
  width:80px;
  height:80px;
}
#u2202 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2203 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:2px;
}
#u2204 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:258px;
  width:64px;
  height:1px;
}
#u2205 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:65px;
}
#u2206 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:227px;
  width:1px;
  height:64px;
}
#u2207 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:164px;
  height:42px;
}
#u2208 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:523px;
  width:162px;
  height:40px;
  color:#FFFFFF;
}
#u2209 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:158px;
  word-wrap:break-word;
}
#u2210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:160px;
  height:42px;
}
#u2210 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:523px;
  width:158px;
  height:40px;
  color:#FFFFFF;
}
#u2211 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:154px;
  word-wrap:break-word;
}
#u2212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:80px;
}
#u2212 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:219px;
  width:85px;
  height:80px;
}
#u2213 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2214 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:212px;
  width:15px;
  height:15px;
  color:#FFFFFF;
}
#u2215 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u2216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#A1A1A1;
}
#u2216 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:498px;
  width:225px;
  height:13px;
  font-size:11px;
  color:#A1A1A1;
}
#u2217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u2218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2218 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:136px;
  width:60px;
  height:23px;
  font-size:11px;
}
#u2219 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:56px;
  word-wrap:break-word;
}
#u2220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:497px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2220 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:68px;
  width:322px;
  height:497px;
  opacity:0.8;
}
#u2221 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:240px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:22px;
}
#u2222 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:69px;
  width:236px;
  height:170px;
  text-align:left;
  line-height:22px;
}
#u2223 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:232px;
  word-wrap:break-word;
}
#u2225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2226 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:206px;
  width:281px;
  height:170px;
}
#u2227 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2228 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:268px;
  width:217px;
  height:18px;
}
#u2229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u2230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2230 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:336px;
  width:281px;
  height:40px;
  color:#FFFFFF;
}
#u2231 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:277px;
  word-wrap:break-word;
}
